<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="border border-warning navbar-brand bg-light font-weight-bold rounded mx-auto h1 text-warning">Eat
            a
            Burger!</span>
    </div>
</nav>

<br>
<br>
<div class="row">
    <div class="col-6">
        <div class="container-fluid">
            <div class="card" style="width: 25rem;">

                <div class="card-body">
                    <h5 class="card-title text-center">Burgers to devour!</h5>
                    <p class="card-text">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        {{> burgers/burgers-block devoured=true}}
                        {{/unless}}
                        {{/each}}
                    </ul>
                    </p>

                </div>
            </div>
        </div>



    </div>


    <div class="col-6">
        <div class="container-fluid">
            <div class="card" style="width: 25rem;">

                <div class="card-body">
                    <h5 class="card-title text-center">Burgers devoured!</h5>
                    <p class="card-text">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        {{> burgers/burgers-block devoured=false}}
                        {{/if}}
                        {{/each}}
                    </ul>
                    </p>

                </div>
            </div>
        </div>

    </div>
</div>


<br>
<br>
<br>


<div class="row mx-auto">
    <div class="container-fluid m-5 container1">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h3 class="card-title text-center">Add a Burger to devour</h3>
                <p class="card-text">
                <form id="create-form">

                    <div class="form-group">
                        <label for="ca">Burger Name:</label>
                        <input type="text" id="ca" name="name">
                    </div>

                    <div class="form-group ">
                        <label for="devoured">Devoured?</label><br>
                        <input type="radio" name="devoured" value="1" id="devoured" checked>
                        Devoured!<br>
                        <input type="radio" name="devoured" value="0" id="notDevoured"> Not Devoured
                    </div>

                    <button style="background-color:#f1bb4e" class="button4" type="submit">Add a
                        Burger</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>