<li>
    {{burger_name}}

    <button class="change-devoured button4" style="background-color:#f1bb4e" data-id="{{id}}"
        data-newdevoured="{{devoured}}">
        {{#if devoured}}Devoured!{{else}}Make it again!{{/if}}
    </button>



</li>